body{
    background: rgb(3,0,255);
    background: linear-gradient(90deg, rgba(3,0,255,0) 0%, rgba(171,226,67,0.5523459383753502) 0%);
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

select:focus, input:focus, button:focus{
    outline: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

img{
    width: 200px;
} 

h1{
    margin: 22px 0;
    color: black;
}

.description{
    margin: 16px 0;
}

select{
    padding: ppx 5px 9px 9px;
    font-size: 16px;
    background-color: transparent;
    border: 1px #dedede solid;
    border-radius: 5px;
}

input{
    font-size: 30px;
    text-align: right;
    border: 0;
    background-color: transparent;
    border-bottom: 3px black solid;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top{
    padding: 40px 0;
}

.swapBtn{
    padding: 5px 100px;
    background-color: rgb(47, 186, 158);
    color: #fff;
    border-radius: 5px;
}

.rate{
    /* color: rgb(47, 186, 158);
    font-size: 14px;
    padding: 0 10px; */
    display: none;
}

.bottom{
    padding: 40px 0;
}